<% if flash[:success] %>
  <%= flash[:success] %>
<% end %>
<% if flash[:fail] %>
  <%= flash[:fail] %>
<% end %>

<%= form_with model: @user, url: login_path, local: true do |form| %>
  <p>
    <%= form.label :email %><br>
    <%= form.email_field :email %>
  </p>
  <p>
    <%= form.label :password %><br>
    <%= form.password_field :password %>
  </p>
  <%= form.submit value: "login" %>
<% end %>
