<h1>新規登録 - newUser</h1>

<%if flash[:sucsess] %>
  <%= flash[:sucsess] %>
<% end %>

<%# このあたり、　formを適切にマークアップ（pタグなど）すると、brを使わずにすみそうです。brは多様しないほうが良いです。 %>
<%= form_with model: @user, url: users_create_url, local: true  do |form| %>
  <%= form.label :email %><br>
  <%= form.email_field :email %><br>
  <%= form.label :password %><br>
  <%= form.password_field :password %><br>
  <%= form.label :name %><br>
  <%= form.text_field :name %><br>
  <%= form.submit %>
<% end %>