<% if flash[:sucsess] %>
  <%= flash[:sucsess] %>
<% end %>

<% @posts.each do |post| %>
  <% if post.image.attached? %>
	<%= link_to(image_tag(post.image), "/posts/#{post.id}") %>
  <% end %>
  <p>
  	<%= link_to post.content, "/posts/#{post.id}" %> / 
  	<%= link_to post.user.name, "/users/#{post.user.id}" %> - 
  	<%= post.created_at %></p>
<% end %>